<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> headder}}
		<p> <h2>{{streanIn welcomeNote}}</h2></p>
		<h1>{{pageTitle}}</h1>
		<h1>Hello World</h1>
		<p> <h2>{{welcomeNote}}</h2></p>

		{{> fotter}}
	</body>
</html>